*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: black;

}	
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

header{
	
	}

.box{
	
	max-width: 1200px;

}
img{
	max-width: 100%;
}
.row{
	display: flex;
	align-items: center;
	

}
.nav1{
	
	flex-basis: 60%;
	display: flex;
    justify-content: center;
    padding-left: 80px;
    align-items: center;
   
    


}
.nav2{
	
	
	flex-basis: 30%;
	display: flex;
    justify-content: space-evenly;
    padding: 15px;
    
    align-items: center;
}
.logo{
	    
	    flex-basis: 10%;
	    padding: 10px;
	    
}

.logo :hover{
	background-color: #28d3d9;
}

.nav1 a{
	padding: 10px;

}

.nav1 a:hover {
    background-color: #28d3d9;
}

.nav2 a{
	padding: 10px;

}

.nav2 a:hover {
    background-color: #28d3d9;
}

.bannerimg{
	background-size: cover;
	
    background-position: center;
	background-image: url(https://i.pinimg.com/originals/e4/fd/39/e4fd394c50101056b61ebd785931e53f.jpg);

}

.banner{

	
	background: rgb(40,211,217);
	background: linear-gradient(139deg, rgba(40,211,217,0.835171568627451) 46%, rgba(220,147,133,1) 50%, rgba(216,148,135,1) 56%, rgba(9,86,121,0.773546918767507) 100%, rgba(104,152,95,1) 100%, rgba(0,212,255,1) 100%);
	display: flex;
	justify-content: center; 
	padding: 150px;
}


h1{
	font-size: 45px;
    
}

h2{
	font-size: 35px;
    
}
.arrow{
	
	transition-duration: 0.4s;
	animation-name: verticalmove;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform: translateY(50px);
	animation-direction: alternate-reverse;

}

@keyframes verticalmove{

 to {transform: translateY(100px);}

}

.bannercontent{
	align-items: center;
    display: flex;
    flex-direction: column;

}

.product{

    display: flex;
    justify-content: center;
    padding: 50px 0; 
	height: 400px;
    background-color: azure;
}

.productl{

	flex-basis: 25%;
    padding: 20px;
    height: 20px;
	


}


.productl img{
    
    border-radius: 10%;
}

.productl h3{
text-align: center;
}

.productl h4{
text-align: center;
}

.productl .rating{
	text-align: center;

}

.productl .rating i{
	color: gold;

}

.productl button{
	    width: 100%;

}

.productl h5{
text-align: center;
}

.end{

    justify-content: center;
    
}
